
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior:smooth;
}
a{
    text-decoration: none;
    color: gold;
}
.maindiv{
    background-color:#14161a;
    min-height:100vh;
    color:#fff
}

.coinstableContainer{
  text-align:center;
}
.cointableh1{
  margin: 18px;
  font-family:montserrat;
  font-weight: bold;
}

.TableRow{
  cursor: pointer;
  font-family: montserrat;
}
.TableRow:hover{
  background-color:#0e0f11 ; 
}



.CoinPageContiver{
  display:flex;
  flex-direction: column;
}

.sidebarCoin{
  width:30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top:25;
  border-right: 2px solid gray;
}

.coinpageheading{
  font-weight: bold;
  margin-bottom:20;
  font-family: montserrat;
  padding-top: 10px;
}

.description{
  width:90%;
  font-family:montserrat;
  padding: 25;
  padding-bottom:2rem;
  padding-top:5px;
  text-align:justify;
}

.marketData{
  align-self: start;
  width:100%;
  padding-left:1.5%;
  padding-top: 10px;
  flex-direction: column;
}

@media only screen and (max-width: 1025px) {
  .sidebarCoin{ 
    border-right: 2px solid gray;
    align-items:center;
    flex-direction: column;
    margin-top:25;
    width:100%;
  }
}

@media only screen and (max-width: 1025px) {

  .marketData{
    display: flex;
    justify-content:space-around;
    flex-direction:row;
  }

}

@media only screen and (max-width: 502px) {

  .sidebarCoin{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:25;
    border-right: 2px solid gray;
  }
  .marketData{
    align-self: start;
    width:100%;
    padding-left:1.5%;
    padding-top: 10px;
    flex-direction: column;
  }

  .CoinInfocontiner{
    width:100%;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    margin-top:0px;
    padding:20px;
    padding-top: 0;
  }

}

.CoinInfocontiner{
  width:75%;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  margin-top:25px;
  padding:40px;
}

